/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #007FFF;
  --ifm-color-primary-dark: #0072e6;
  --ifm-color-primary-darker: #006cd9;
  --ifm-color-primary-darkest: #0059b3;
  --ifm-color-primary-light: #1a8cff;
  --ifm-color-primary-lighter: #2692ff;
  --ifm-color-primary-lightest: #4da5ff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #007FFF;
  --ifm-color-primary-dark: #0072e6;
  --ifm-color-primary-darker: #006cd9;
  --ifm-color-primary-darkest: #0059b3;
  --ifm-color-primary-light: #1a8cff;
  --ifm-color-primary-lighter: #2692ff;
  --ifm-color-primary-lightest: #4da5ff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
